body{
    background-color: #eee;;
    padding: 0px;
    margin: 0px;;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.menu{
    background-color: black;
    height: 40px;
    color: white;
}

.banner{
    background-color: red;;
    height: 300px;
}

.products{
    gap: 10px;
    display: flex;
}

.footer{
    background-color: brown;
}

.product{
    flex-grow: 1;
    background-color: blue;
    height: 240px;
}